{% extends 'base.html' %}

{% block title %}
 Register
{% endblock %}

{% block content %}
{% load static %}

<div style="text-align: center;">

<h2>Register a new user</h2>
<form method="post">
	{% csrf_token %}
	{% for field in form %}
		<p>
			{% for e in field.errors %}
			<p style="color:red; font-size:11px;">		
				{{ e }}				
			</p>
			{% endfor %}
			{{field.label_tag}} {{field}}
		</p>
	{% endfor %}
	<p>
		<button type="submit">Register</button>
	</p>
</form>
<p>
	Have an account? <a href="/accounts/login/">Login here</a>
</p>
</div>

{% endblock %}